<!-- <p>stats works!</p> -->
<div fxLayout="row nowrap" fxFlex="100">
    <!-- card -->
    <div fxLayout="row nowrap" fxFlex="100" fxLayoutAlign="space-between center" style="padding: 2rem;">
    @for (card of statCards; track card) {
        <div fxLayout="column nowrap" fxFlex="30" style="padding: 32px; border-bottom: 2px solid;"
        fxLayoutGap="32px" [style.border-color]="card.color">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <div fxLayout="column nowrap" style="font-size: 32px;" [style.color]="card.color">28</div>
            <div fxLayout="column nowrap">
                <mat-icon style="font-size: 32px;" [style.color]="card.color">
                    work_history
                </mat-icon>
            </div>
        </div>
        <h2>Pending Applications</h2>
    </div>
    }
    </div>
</div>