<!-- <p>stats works!</p> -->
<div fxLayout="column nowrap" fxFlex="100" fxLayoutGap = "32px">
    <!-- card -->
    <div fxLayout="row nowrap" fxFlex="100" fxLayoutAlign="space-between center" style="padding: 2rem;">
    @for (card of statCards; track card) {
        <div fxLayout="column nowrap" fxFlex="30" style="padding: 32px; border-bottom: 2px solid; background-color: white;"
        fxLayoutGap="32px" [style.border-color]="card.color">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <div fxLayout="column nowrap" style="font-size: 32px;" [style.color]="card.color">28</div>
            <div fxLayout="column nowrap">
                <mat-icon style="font-size: 32px;" [style.color]="card.color">
                    {{card.iocn}}
                </mat-icon>
            </div>
        </div>
        <h2>{{card.title}}</h2>
    </div>
    }
    </div>

    <!-- Bar Chart Monthly Application-->
    <div fxLayout="column nowrap" fxFlex="100" fxLayoutAlign="center center">
        <h1>Monthly Applications</h1>
    <p style="color: #3B81F6;">Bar Chart</p>
    </div>
    
    <div fxLayout="column nowrap">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="singleBarChart"
        [barPadding] = "100"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div>
</div>