.sidebar-container {
    background: var(--white);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    // margin-left: -250px;
    transition: var(--transition);
}

.selected-menu {
    .mat-icon{
        color: var(--primary-500);
    }
    .mat-mdc-list-item-title{
        color: var(--primary-500);
    }
}
