<!-- <p>base-layout works!</p> -->
<div class="sidebar-container">
@if (shouldRun) {
    <mat-sidenav-container>
      <mat-sidenav #sidenav [mode]="mode" [opened]="true">
        <div fxLayout="column wrap" style="height: 100vh; width: 220px;padding: 1rem;">
        <img src="../../assets/icons/jobster_logo.svg">

        <!-- Un-ordered list -->
        <div fxLayout="column wrap">
          <mat-list>
            @for (item of sideMenu; track item) {
              <mat-list-item (click)="navTo(item)" [class.selected-menu]="item.selected">
                <mat-icon matListItemIcon >{{item.icon}}</mat-icon>
                <div matListItemTitle>{{item.name}}</div>
              </mat-list-item>
            }
          </mat-list>
        </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content style="height: 100vh;">

        <!-- Toolbar -->
        <div style="width: 100%;">
        <mat-toolbar style="width: 100%;background-color: white;">
          <div fxLayout="row nowrap" fxLayoutAlign="space-between center"  style="width: 100%; padding:1.5rem 0;">
            <!-- Menu -->
            <div fxLayout="column nowrap">
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <!-- Title -->
            <div fxLayout="column nowrap">
              <span>Dashboard</span>
            </div>
            <!-- Account -->
            <div fxLayout="column nowrap">
              <button mat-button [matMenuTriggerFor]="menu" class="btn">
                <mat-icon>account_circle</mat-icon>{{_dataService.userObj.name}}</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item style="text-align: center;background: var(--primary-100);" (click)="logoutUser()">Logout</button>
              </mat-menu>
            </div>
          </div>
        </mat-toolbar>
      </div>
      <div style="background-color: #F0F4F8;height: 100%;">
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  }
</div>