.sidebar-container {
    background: var(--white);
    min-height: 100vh;
    height: 100%;
    // width: 250px;
    // margin-left: -250px;
    transition: var(--transition);
}

// reset matdrawer styles
// .example-spacer {
//     flex: 0 1 auto;
//   }