.search-form {
    background-color: white;
    padding: 50px;
}
.company-logo{
    background: var(--primary-500);
    border-radius: var(--borderRadius);
    font-size: 1.5rem;;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
}
.jobs-card-container {
    background-color: white;
    padding: 32px;

}
.jobs-card{
    padding: 16px 24px;
    border: 1px solid var(--grey-100);
    border-radius: var(--borderRadius);
    margin-bottom: 16px;
}
.job-card-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-100)
}