<div fxLayout="column nowrap" fxFlex="100" fxLayoutGap = "32px" style="padding: 50px;">

<!-- Search Form -->
<div fxLayout="column nowrap" fxFlex="100" fxLayoutGap = "32px" class="search-form">
<h1>Search Form</h1>
<form [formGroup]="searchForm">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap = "32px">
        <!-- search -->
        <div fxLayout="column nowrap" fxFlex="30">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text" formControlName="search">
            </mat-form-field>
        </div>

        <!-- status -->
        <div fxLayout="column nowrap" fxFlex="30">
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    @for (option of statusArr; track option) {
                    <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <!-- type -->
        <div fxLayout="column nowrap" fxFlex="30">
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    @for (option of typeArr; track option) {
                    <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <!-- sort -->
        <div fxLayout="column nowrap" fxFlex="30">
            <mat-form-field appearance="outline">
                <mat-label>Sort</mat-label>
                <mat-select formControlName="sort">  
                    @for (option of sortArr; track option) {
                    <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Button -->
        <div fxLayout="column nowrap" fxFlex="30">
            <button mat-raised-button color="primary" style="margin-top: 6px;">Primary</button>
        </div>
    </div>
</form>
</div>

<!-- Search list -->
<div class="mat-elevation-z8">
    <!-- <table mat-table [dataSource]="dataSource"> -->
  
      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container> -->
  
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container> -->
  
      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="jobLocation">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.jobLocation}} </td>
      </ng-container> -->
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container> -->
  
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <!-- </table> -->

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="jobs-card-container">
        @for (item of searchResultList; track $index) {
            <div fxLayout="column wrap" fxLayoutAlign="center start" fxFlex="47" class="jobs-card">
                <!-- row1 -->
                <div fxLayout="row nowrap" fxLayoutGap = "12px" class="width-100 job-card-header">
                    <div fxLayout="column nowrap">
                        <div class="company-logo">{{item.position[0]}}
                        </div>
                    </div>
                    <div fxLayout="column nowrap" fxLayoutAlign="center start">
                        <div style="font-size:20px;color: var(--textColor);">{{item.position}}</div>
                        <div style="color: var(--grey-400)">{{item.company}}</div>
                    </div>
                </div>
                <!-- row2 -->
                <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="width-100" style="margin-top: 20px;">
                    <div fxLayout="column nowrap" style="text-transform: capitalize;">
                        <div fxLayout="row nowrap" fxLayoutGap="8px" fxLayoutAlign="start center">
                            <div fxLayout="column nowrap">
                                <mat-icon style="color: var(--grey-400);">near_me</mat-icon>
                            </div>
                            <div fxLayout="column nowrap" style="font-size: 1rem;color: var(--textColor);">
                                {{item.jobLocation}}
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column nowrap">
                        <div fxLayout="row nowrap" fxLayoutGap="8px" fxLayoutAlign="start center">
                            <div fxLayout="column nowrap">
                                <mat-icon style="color: var(--grey-400);">calendar_month</mat-icon>
                            </div>
                            <div fxLayout="column nowrap" style="font-size: 1rem;color: var(--textColor);">
                                {{item.createdAt | date:'mediumDate'}}
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- row3 -->
                 <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="width-100" style="margin-top: 20px;">
                    <div fxLayout="column nowrap" style="text-transform: capitalize;">
                        <div fxLayout="row nowrap" fxLayoutGap="8px" fxLayoutAlign="start center">
                            <div fxLayout="column nowrap">
                                <mat-icon style="color: var(--grey-400);">business_center</mat-icon>
                            </div>
                            <div fxLayout="column nowrap" style="font-size: 1rem;color: var(--textColor);">
                                {{item.jobType}}
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column nowrap">
                        <button mat-raised-button color="primary" style="text-transform: capitalize; color: rgb(214, 106, 106);background: rgb(255, 238, 238);">{{item.status}}</button>
                    </div>
                 </div>
                 <!-- row4 -->
                 <div fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxLayout="column nowrap">
                        <button mat-raised-button color="primary">Edit</button>
                    </div>
                    <div fxLayout="column nowrap">
                        <button mat-raised-button color="primary">Delete</button>
                    </div>
                 </div>
            </div>    
        }
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>