<form [formGroup] = "searchForm">
<div fxLayout = "row nowrap" fxFlex="100">
    <!-- search -->
    <div fxLayout="column nowrap">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" formControlName="search">
        </mat-form-field>
    </div>
    <!-- status -->
    <!-- <div fxLayout="column nowrap">
        <mat-form-field formControlName="status">
            
        </mat-form-field>
    </div> -->
    

    <!-- type -->
    <!-- <div fxLayout="column nowrap">
        <mat-form-field formControlName="type">
            
        </mat-form-field>
    </div> -->
    <!--  -->
    <!-- <div fxLayout="column nowrap">
        <mat-form-field formControlName="sort">
            
        </mat-form-field>
    </div> -->
</div>
</form>